@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
* {
	box-sizing: border-box;
	transition: all 0.6s;
	margin: 0;
	padding: 0;
	
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	background-color: rgba(204, 204, 204, 0.49);
	line-height: 1;
	font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-style: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
	width: 1250px;
	margin: 0 auto;
}
.top-bar {
	height: 50px;
	width: 1250px;
	border: 1px solid black;
	margin-bottom: 100px;

}
.top-bar ul {
	width: 300px;
	display: block;
	margin: 0 auto;

}
.top-bar ul li {
	display: inline-block;
}

.content {

	width: 950px;
	height: 1000px;
	/*border: 1px solid black;*/
	float: left;

}
.page  {
	background-color: white;
	margin: 0px auto 25px auto;
	width: 950px;
	border-radius: 2px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	overflow: hidden;
	height: 400px;
	position: relative;	
}
.page p {
	position: absolute;
	left: 10px;
	color: white;
	font-size: 51px;
	font-weight: 700;
	bottom: 10px;
	z-index: 1;}
.page:hover p {
	color: #0094FF;

}

.page img {
	width: 100%;
	    -webkit-filter: brightness(37%);
}
.page:hover img {
	-webkit-filter: brightness(100%);
}
strong {
	font-family: 'Roboto Condensed', sans-serif ;
	font-weight: 700;
	 text-transform: uppercase;
	 color: #333;
	font-size: 46px ;
	letter-spacing: -1px ;
}
.sidebar {
	width: 275px;
	height: 1000px;
	border: 1px solid black;
	float: left;
	margin-left: 25px;


}
